<div class="container text-center mt-3 mb-3 col-md-8">
    <form class="card bg-light ml-3 mr-3" action="/order/add" method="post">
        <h1 class="text text-primary mt-2 mb-2">Add new order</h1>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">NameCustomer</label>
            <input class="form-control" type="text" name="NameCustomer" required>
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Phonenumber</label>
            <input class="form-control" type="text" name="Phonenumber" required>
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Address</label>
            <input class="form-control" type="text" name="Address" required>
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Order</label>
            <input class="form-control" type="text" name="Order" required>
        </div>
        <div class="form-group mt-2 mb-2">
            <input class="btn btn-danger" type="submit" value="Add">
        </div>

    </form>
</div>